# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea
.vscode

# Local System Files (i.e. cache, logs, etc.) #
# Ignore everything by default then whitelist paths
/build/*
!/build/Gruntfile.js
!/build/package.json
!/build/js
/tests
/www/administrator/
/www/cache/
/www/cli/
/www/components/
/www/images/
/www/includes/
/www/language/
/www/layouts/
/www/libraries/
/www/media/
/www/modules/
/www/plugins/
/www/tmp
/www/.travis.yml
/www/CONTRIBUTING.md
/www/LICENSE.txt
/www/README.txt
/www/build.xml
/www/configuration.php
/www/htaccess.txt
/www/index.php
/www/phpunit.xml.dist
/www/phpunit.xml
/www/robots.txt.dist
/www/travisci-phpunit.xml
/www/web.config.txt

# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini