# IDE/System based files and folders #
.buildpath
.project
.settings
.DS_Store
.idea

# Ignore everything by default then whitelist paths
/administrator/
/build/*
!/build/Gruntfile.js
!/build/package.json
!/build/js
/cache/
/cli/
/components/
/images/
/includes/
/language/
/layouts/
/libraries/
/media/
/modules/
/plugins/*
!/plugins/system
/plugins/system/*
!/plugins/system/joomlatracking
/templates/*
!/templates/joomla/
/templates/joomla/*
!/templates/joomla/css/
/templates/joomla/css/*
!/templates/joomla/css/custom.css
!/templates/joomla/html/
/templates/joomla/html/*
!/templates/joomla/html/com_content/
!/templates/joomla/html/com_finder/
!/templates/joomla/html/mod_articles_news/
!/templates/joomla/html/mod_feed/
!/templates/joomla/js/
/templates/joomla/js/*
!/templates/joomla/js/countup.js
!/templates/joomla/js/countup.min.js
/tests
/tmp
/.travis.yml
/CONTRIBUTING.md
/LICENSE.txt
/README.txt
/build.xml
/configuration.php
/htaccess.txt
/index.php
/phpunit.xml.dist
/phpunit.xml
/robots.txt
/robots.txt.dist
/travisci-phpunit.xml
/web.config.txt
