##
# @package    Joomla
# @copyright  Copyright (C) 2005 - 2015 Open Source Matters. All rights reserved.
# @license    GNU General Public License version 2 or later; see LICENSE.txt
##

###########################################
# ======= Enable the Rewrite Engine =======
RewriteEngine On
###########################################

###########################################
# === File execution order ===
DirectoryIndex index.php index.html
###########################################

###########################################
# ========= No directory listings =========
IndexIgnore *
Options +FollowSymLinks
Options -Indexes
##########################################

###########################################
# ==== Redirect all requests to HTTPS =====
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
###########################################

###########################################
# ========== Special redirects ===========
##### Redirect non-www to www -- BEGIN
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R,L]
##### Redirect non-www to www -- END

##### Redirect index.php to / -- BEGIN
RewriteCond %{THE_REQUEST} !^POST
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/
RewriteCond %{SERVER_PORT}>s ^(443>(s)|[0-9]+>s)$
RewriteRule ^index\.php$ http%2://%{HTTP_HOST}/ [R,L]
##### Redirect index.php to / -- END

###########################################
# ========== Add redirects here ===========
# Redirect joomla.org/4/* to www.joomla.org/4/*
RewriteCond %{HTTP_HOST} !^www.joomla.org$ [NC]
RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/4/$1 [L,R=301]
###########################################

###########################################
# === Optimal default expiration time ===
<IfModule mod_expires.c>
	# Enable expiration control
	ExpiresActive On

	# Default expiration: 1 hour after request
	ExpiresDefault "now plus 1 hour"

	# CSS and JS expiration:
	ExpiresByType text/css "now plus 6 month"
	ExpiresByType application/javascript "now plus 6 month"
	ExpiresByType application/x-javascript "now plus 6 month"

	# Image files expiration:
	ExpiresByType image/bmp "now plus 6 month"
	ExpiresByType image/gif "now plus 6 month"
	ExpiresByType image/jpeg "now plus 6 month"
	ExpiresByType image/jp2 "now plus 6 month"
	ExpiresByType image/pipeg "now plus 6 month"
	ExpiresByType image/png "now plus 6 month"
	ExpiresByType image/webp "now plus 6 month"
	ExpiresByType image/svg+xml "now plus 6 month"
	ExpiresByType image/tiff "now plus 6 month"
	ExpiresByType image/vnd.microsoft.icon "now plus 6 month"
	ExpiresByType image/x-icon "now plus 6 month"
	ExpiresByType image/ico "now plus 1 year"
	ExpiresByType image/icon "now plus 1 year"
	ExpiresByType text/ico "now plus 1 year"
	ExpiresByType application/ico "now plus 1 year"
	ExpiresByType image/vnd.wap.wbmp "now plus 6 month"
	ExpiresByType application/vnd.wap.wbxml "now plus 6 month"
	ExpiresByType application/smil "now plus 6 month"

	# Font files expiration:
	ExpiresByType application/vnd.ms-fontobject "now plus 6 month"
	ExpiresByType application/x-font-ttf "now plus 6 month"
	ExpiresByType application/x-font-opentype "now plus 6 month"
	AddType application/x-font-woff .woff
	ExpiresByType application/x-font-woff "now plus 6 month"
	AddType application/font-woff2 .woff2
	ExpiresByType application/font-woff2 "now plus 6 month"
	ExpiresByType image/svg+xml "now plus 6 month"

	# Audio files expiration:
	ExpiresByType audio/basic "now plus 6 month"
	ExpiresByType audio/mid "now plus 6 month"
	ExpiresByType audio/midi "now plus 6 month"
	ExpiresByType audio/mpeg "now plus 6 month"
	ExpiresByType audio/x-aiff "now plus 6 month"
	ExpiresByType audio/x-mpegurl "now plus 6 month"
	ExpiresByType audio/x-pn-realaudio "now plus 6 month"
	ExpiresByType audio/x-wav "now plus 6 month"

	# Movie files expiration: 1 month after request
	ExpiresByType application/x-shockwave-flash "now plus 6 month"
	ExpiresByType x-world/x-vrml "now plus 6 month"
	ExpiresByType video/x-msvideo "now plus 6 month"
	ExpiresByType video/mpeg "now plus 6 month"
	ExpiresByType video/mp4 "now plus 6 month"
	ExpiresByType video/quicktime "now plus 6 month"
	ExpiresByType video/x-la-asf "now plus 6 month"
	ExpiresByType video/x-ms-asf "now plus 6 month"
</IfModule>

	# Disable caching of administrator/index.php
<Files "administrator/index.php">
	<IfModule mod_expires.c>
		ExpiresActive Off
	</IfModule>
	<IfModule mod_headers.c>
		Header unset ETag
		Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		Header set Pragma "no-cache"
		Header set Expires "Wed, 17 Aug 2005 00:00:00 GMT"
	</IfModule>
</Files>
###########################################

###########################################
# = Block hacking tools / bandwidth hoggers =
# = Denies access to specific user agents. Any request with a user agent that
# = partially matches an entry in this list will be blocked.
	SetEnvIf user-agent "WebBandit" stayout=1
	SetEnvIf user-agent "webbandit" stayout=1
	SetEnvIf user-agent "Acunetix" stayout=1
	SetEnvIf user-agent "binlar" stayout=1
	SetEnvIf user-agent "BlackWidow" stayout=1
	SetEnvIf user-agent "Bolt 0" stayout=1
	SetEnvIf user-agent "Bot mailto:craftbot@yahoo.com" stayout=1
	SetEnvIf user-agent "BOT for JCE" stayout=1
	SetEnvIf user-agent "casper" stayout=1
	SetEnvIf user-agent "checkprivacy" stayout=1
	SetEnvIf user-agent "ChinaClaw" stayout=1
	SetEnvIf user-agent "clshttp" stayout=1
	SetEnvIf user-agent "cmsworldmap" stayout=1
	SetEnvIf user-agent "comodo" stayout=1
	SetEnvIf user-agent "Custo" stayout=1
	SetEnvIf user-agent "Default Browser 0" stayout=1
	SetEnvIf user-agent "diavol" stayout=1
	SetEnvIf user-agent "DIIbot" stayout=1
	SetEnvIf user-agent "DISCo" stayout=1
	SetEnvIf user-agent "dotbot" stayout=1
	SetEnvIf user-agent "Download Demon" stayout=1
	SetEnvIf user-agent "eCatch" stayout=1
	SetEnvIf user-agent "EirGrabber" stayout=1
	SetEnvIf user-agent "EmailCollector" stayout=1
	SetEnvIf user-agent "EmailSiphon" stayout=1
	SetEnvIf user-agent "EmailWolf" stayout=1
	SetEnvIf user-agent "Express WebPictures" stayout=1
	SetEnvIf user-agent "extract" stayout=1
	SetEnvIf user-agent "ExtractorPro" stayout=1
	SetEnvIf user-agent "EyeNetIE" stayout=1
	SetEnvIf user-agent "feedfinder" stayout=1
	SetEnvIf user-agent "FHscan" stayout=1
	SetEnvIf user-agent "FlashGet" stayout=1
	SetEnvIf user-agent "flicky" stayout=1
	SetEnvIf user-agent "GetRight" stayout=1
	SetEnvIf user-agent "GetWeb!" stayout=1
	SetEnvIf user-agent "Go-Ahead-Got-It" stayout=1
	SetEnvIf user-agent "Go!Zilla" stayout=1
	SetEnvIf user-agent "grab" stayout=1
	SetEnvIf user-agent "GrabNet" stayout=1
	SetEnvIf user-agent "Grafula" stayout=1
	SetEnvIf user-agent "harvest" stayout=1
	SetEnvIf user-agent "HMView" stayout=1
	SetEnvIf user-agent "ia_archiver" stayout=1
	SetEnvIf user-agent "Image Stripper" stayout=1
	SetEnvIf user-agent "Image Sucker" stayout=1
	SetEnvIf user-agent "InterGET" stayout=1
	SetEnvIf user-agent "Internet Ninja" stayout=1
	SetEnvIf user-agent "InternetSeer.com" stayout=1
	SetEnvIf user-agent "jakarta" stayout=1
	SetEnvIf user-agent "Java" stayout=1
	SetEnvIf user-agent "JetCar" stayout=1
	SetEnvIf user-agent "JOC Web Spider" stayout=1
	SetEnvIf user-agent "kmccrew" stayout=1
	SetEnvIf user-agent "larbin" stayout=1
	SetEnvIf user-agent "LeechFTP" stayout=1
	SetEnvIf user-agent "libwww" stayout=1
	SetEnvIf user-agent "Mass Downloader" stayout=1
	SetEnvIf user-agent "Maxthon$" stayout=1
	SetEnvIf user-agent "microsoft.url" stayout=1
	SetEnvIf user-agent "MIDown tool" stayout=1
	SetEnvIf user-agent "miner" stayout=1
	SetEnvIf user-agent "Mister PiX" stayout=1
	SetEnvIf user-agent "NEWT" stayout=1
	SetEnvIf user-agent "MSFrontPage" stayout=1
	SetEnvIf user-agent "Navroad" stayout=1
	SetEnvIf user-agent "NearSite" stayout=1
	SetEnvIf user-agent "Net Vampire" stayout=1
	SetEnvIf user-agent "NetAnts" stayout=1
	SetEnvIf user-agent "NetSpider" stayout=1
	SetEnvIf user-agent "NetZIP" stayout=1
	SetEnvIf user-agent "nutch" stayout=1
	SetEnvIf user-agent "Octopus" stayout=1
	SetEnvIf user-agent "Offline Explorer" stayout=1
	SetEnvIf user-agent "Offline Navigator" stayout=1
	SetEnvIf user-agent "PageGrabber" stayout=1
	SetEnvIf user-agent "Papa Foto" stayout=1
	SetEnvIf user-agent "pavuk" stayout=1
	SetEnvIf user-agent "pcBrowser" stayout=1
	SetEnvIf user-agent "PeoplePal" stayout=1
	SetEnvIf user-agent "planetwork" stayout=1
	SetEnvIf user-agent "psbot" stayout=1
	SetEnvIf user-agent "purebot" stayout=1
	SetEnvIf user-agent "pycurl" stayout=1
	SetEnvIf user-agent "RealDownload" stayout=1
	SetEnvIf user-agent "ReGet" stayout=1
	SetEnvIf user-agent "Rippers 0" stayout=1
	SetEnvIf user-agent "SeaMonkey$" stayout=1
	SetEnvIf user-agent "sitecheck.internetseer.com" stayout=1
	SetEnvIf user-agent "SiteSnagger" stayout=1
	SetEnvIf user-agent "skygrid" stayout=1
	SetEnvIf user-agent "SmartDownload" stayout=1
	SetEnvIf user-agent "sucker" stayout=1
	SetEnvIf user-agent "SuperBot" stayout=1
	SetEnvIf user-agent "SuperHTTP" stayout=1
	SetEnvIf user-agent "Surfbot" stayout=1
	SetEnvIf user-agent "tAkeOut" stayout=1
	SetEnvIf user-agent "Teleport Pro" stayout=1
	SetEnvIf user-agent "Toata dragostea mea pentru diavola" stayout=1
	SetEnvIf user-agent "turnit" stayout=1
	SetEnvIf user-agent "vikspider" stayout=1
	SetEnvIf user-agent "VoidEYE" stayout=1
	SetEnvIf user-agent "Web Image Collector" stayout=1
	SetEnvIf user-agent "Web Sucker" stayout=1
	SetEnvIf user-agent "WebAuto" stayout=1
	SetEnvIf user-agent "WebCopier" stayout=1
	SetEnvIf user-agent "WebFetch" stayout=1
	SetEnvIf user-agent "WebGo IS" stayout=1
	SetEnvIf user-agent "WebLeacher" stayout=1
	SetEnvIf user-agent "WebReaper" stayout=1
	SetEnvIf user-agent "WebSauger" stayout=1
	SetEnvIf user-agent "Website eXtractor" stayout=1
	SetEnvIf user-agent "Website Quester" stayout=1
	SetEnvIf user-agent "WebStripper" stayout=1
	SetEnvIf user-agent "WebWhacker" stayout=1
	SetEnvIf user-agent "WebZIP" stayout=1
	SetEnvIf user-agent "Widow" stayout=1
	SetEnvIf user-agent "WWW-Mechanize" stayout=1
	SetEnvIf user-agent "WWWOFFLE" stayout=1
	SetEnvIf user-agent "Xaldon WebSpider" stayout=1
	SetEnvIf user-agent "Zeus" stayout=1
	SetEnvIf user-agent "zmeu" stayout=1
	SetEnvIf user-agent "CazoodleBot" stayout=1
	SetEnvIf user-agent "discobot" stayout=1
	SetEnvIf user-agent "ecxi" stayout=1
	SetEnvIf user-agent "GT::WWW" stayout=1
	SetEnvIf user-agent "heritrix" stayout=1
	SetEnvIf user-agent "HTTP::Lite" stayout=1
	SetEnvIf user-agent "HTTrack" stayout=1
	SetEnvIf user-agent "ia_archiver" stayout=1
	SetEnvIf user-agent "id-search" stayout=1
	SetEnvIf user-agent "id-search.org" stayout=1
	SetEnvIf user-agent "IDBot" stayout=1
	SetEnvIf user-agent "Indy Library" stayout=1
	SetEnvIf user-agent "IRLbot" stayout=1
	SetEnvIf user-agent "ISC Systems iRc Search 2.1" stayout=1
	SetEnvIf user-agent "LinksManager.com_bot" stayout=1
	SetEnvIf user-agent "linkwalker" stayout=1
	SetEnvIf user-agent "lwp-trivial" stayout=1
	SetEnvIf user-agent "MFC_Tear_Sample" stayout=1
	SetEnvIf user-agent "Microsoft URL Control" stayout=1
	SetEnvIf user-agent "Missigua Locator" stayout=1
	SetEnvIf user-agent "panscient.com" stayout=1
	SetEnvIf user-agent "PECL::HTTP" stayout=1
	SetEnvIf user-agent "PHPCrawl" stayout=1
	SetEnvIf user-agent "PleaseCrawl" stayout=1
	SetEnvIf user-agent "SBIder" stayout=1
	SetEnvIf user-agent "Snoopy" stayout=1
	SetEnvIf user-agent "Steeler" stayout=1
	SetEnvIf user-agent "URI::Fetch" stayout=1
	SetEnvIf user-agent "urllib" stayout=1
	SetEnvIf user-agent "Web Sucker" stayout=1
	SetEnvIf user-agent "webalta" stayout=1
	SetEnvIf user-agent "WebCollage" stayout=1
	SetEnvIf user-agent "Wells Search II" stayout=1
	SetEnvIf user-agent "WEP Search" stayout=1
	SetEnvIf user-agent "zermelo" stayout=1
	SetEnvIf user-agent "ZyBorg" stayout=1
	SetEnvIf user-agent "Indy Library" stayout=1
	SetEnvIf user-agent "libwww-perl" stayout=1
	SetEnvIf user-agent "Go!Zilla" stayout=1
	SetEnvIf user-agent "TurnitinBot" stayout=1

<IfModule !mod_authz_core.c>
deny from env=stayout
</IfModule>
<IfModule mod_authz_core.c>
  <RequireAll>
	Require all granted
	Require not env stayout
  </RequireAll>
</IfModule>
###########################################

###########################################
# Set the UTF-8 character set as the default
AddDefaultCharset utf-8

# Media type `charset`parameter set to `UTF-8`
<IfModule mod_mime.c>
	AddCharset utf-8 .atom \
					 .bbaw \
					 .css \
					 .geojson \
					 .js \
					 .json \
					 .jsonld \
					 .rdf \
					 .rss \
					 .topojson \
					 .vtt \
					 .webapp \
					 .xloc \
					 .xml
</IfModule>
###########################################

###########################################
# ==== Block out some common exploits. ====
RewriteCond %{QUERY_STRING} base64_encode[^(]*\([^)]*\) [OR]
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule .* index.php [F]

# ======= File injection protection =======
RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=http[s]?:// [OR]
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=(\.\.//?)+ [OR]
RewriteCond %{QUERY_STRING} [a-zA-Z0-9_]=/([a-z0-9_.]//?)+ [NC]
RewriteRule .* - [F]
##### File injection protection -- END
###########################################

##################### Security Header #####################
<IfModule mod_headers.c>
	# X-Powered-By
	Header unset X-Powered-By
	# X-XSS-Protection
	Header always set X-XSS-Protection "1; mode=block"
	# X-Frame-Options
	Header always set X-Frame-Options SAMEORIGIN
	# X-Content-Type nosniff
	Header always set X-Content-Type-Options nosniff
	# Referrer-Policy
	Header always set Referrer-Policy "no-referrer-when-downgrade"
	# Strict-Transport-Security
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
	# Content-Security-Policy-Report-Only 
	# Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' https://*.google-analytics.com https://*.googletagmanager.com https://*.googleapis.com https://*.gstatic.com https://*.google.com https://*.joomla.org https://*.pingdom.net https://*.googleapis.com https://*.doubleclick.net https://analytics.sitewit.com https://connect.sitewit.com; style-src 'self' 'unsafe-inline' https://*.joomla.org https://fonts.googleapis.com; connect-src 'self' https://*.joomla.org https://*.pingdom.net https://*.doubleclick.net https://*.google-analytics.com; frame-src 'self' https://*.google.com https://www.googletagmanager.com; font-src 'self' https://fonts.gstatic.com https://*.joomla.org; img-src 'self' https://*.google-analytics.com https://*.googletagmanager.com https://*.joomla.org https://*.pingdom.net https://*.doubleclick.net https://*.gstatic.com https://*.google.com https://*.googleapis.com https://analytics.sitewit.com;"
</IfModule>
## Since Joomla 3.9.21
## Disable inline JavaScript when directly opening SVG files or embedding them with the object-tag
<FilesMatch "\.svg$">
  <IfModule mod_headers.c>
    Header always set Content-Security-Policy "script-src 'none'"
  </IfModule>
</FilesMatch>
##################### Security Header #####################

##
# Uncomment following line if your webserver's URL
# is not directly related to physical file paths.
# Update Your Joomla! Directory (just / for root).
##

RewriteBase /4

## Begin - Joomla! core SEF Section.
	#
	# PHP FastCGI fix for HTTP Authorization, required for the API application
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
	# -- SEF URLs for the API application
	# If the requested path starts with /api, the file is not /api/index.php
	# and the request has not already been internally rewritten to the
	# api/index.php script
	RewriteCond %{REQUEST_URI} ^/api/
	RewriteCond %{REQUEST_URI} !^/api/index\.php
	# and the requested path and file doesn't directly match a physical file
	RewriteCond %{REQUEST_FILENAME} !-f
	# and the requested path and file doesn't directly match a physical folder
	RewriteCond %{REQUEST_FILENAME} !-d
	# internally rewrite the request to the /api/index.php script
	RewriteRule .* api/index.php [L]
	# -- SEF URLs for the public frontend application
	# If the requested path and file is not /index.php and the request
	# has not already been internally rewritten to the index.php script
	RewriteCond %{REQUEST_URI} !^/index\.php
	# and the requested path and file doesn't directly match a physical file
	RewriteCond %{REQUEST_FILENAME} !-f
	# and the requested path and file doesn't directly match a physical folder
	RewriteCond %{REQUEST_FILENAME} !-d
	# internally rewrite the request to the index.php script
	RewriteRule .* index.php [L]
	#
	## End - Joomla! core SEF Section.
