RewriteEngine off

Options +Indexes

# ----------------------------------------------------------------------
# Webfont access
# ----------------------------------------------------------------------
# Allow access from all domains for webfonts.
# Alternatively you could only whitelist your
# subdomains like "subdomain.example.com".
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

###########################################
# === Optimal default expiration time ===

<IfModule mod_expires.c>
	# Enable expiration control
	ExpiresActive On

	# Default expiration: 1 hour after request
	ExpiresDefault "now plus 1 hour"

	# CSS and JS expiration:
	ExpiresByType text/css "now plus 1 year"
	ExpiresByType application/javascript "now plus 1 year"
	ExpiresByType application/x-javascript "now plus 1 year"

	# Image files expiration:
	ExpiresByType image/bmp "now plus 6 month"
	ExpiresByType image/gif "now plus 6 month"
	ExpiresByType image/jpeg "now plus 6 month"
	ExpiresByType image/jp2 "now plus 6 month"
	ExpiresByType image/pipeg "now plus 6 month"
	ExpiresByType image/png "now plus 6 month"
	ExpiresByType image/svg+xml "now plus 6 month"
	ExpiresByType image/tiff "now plus 6 month"
	ExpiresByType image/vnd.microsoft.icon "now plus 6 month"
	ExpiresByType image/x-icon "now plus 6 month"
	ExpiresByType image/ico "now plus 6 month"
	ExpiresByType image/icon "now plus 6 month"
	ExpiresByType text/ico "now plus 1 year"
	ExpiresByType application/ico "now plus 1 year"
	ExpiresByType image/vnd.wap.wbmp "now plus 6 month"
	ExpiresByType application/vnd.wap.wbxml "now plus 6 month"
	ExpiresByType application/smil "now plus 6 month"

	# Font files expiration:
	ExpiresByType application/vnd.ms-fontobject "now plus 6 month"
	ExpiresByType application/x-font-ttf "now plus 6 month"
	ExpiresByType application/x-font-opentype "now plus 6 month"
	AddType application/x-font-woff .woff
	ExpiresByType application/x-font-woff "now plus 6 month"
	ExpiresByType application/font-woff2 "now plus 6 month"
	ExpiresByType image/svg+xml "now plus 6 month"
	
	# Audio files expiration:
	ExpiresByType audio/basic "now plus 1 year"
	ExpiresByType audio/mid "now plus 1 year"
	ExpiresByType audio/midi "now plus 1 year"
	ExpiresByType audio/mpeg "now plus 1 year"
	ExpiresByType audio/x-aiff "now plus 1 year"
	ExpiresByType audio/x-mpegurl "now plus 1 year"
	ExpiresByType audio/x-pn-realaudio "now plus 1 year"
	ExpiresByType audio/x-wav "now plus 1 year"

	# Movie files expiration:
	ExpiresByType application/x-shockwave-flash "now plus 1 year"
	ExpiresByType x-world/x-vrml "now plus 1 year"
	ExpiresByType video/x-msvideo "now plus 1 year"
	ExpiresByType video/mpeg "now plus 1 year"
	ExpiresByType video/mp4 "now plus 1 year"
	ExpiresByType video/quicktime "now plus 1 year"
	ExpiresByType video/x-la-asf "now plus 1 year"
	ExpiresByType video/x-ms-asf "now plus 1 year"
</IfModule>

###########################################
# == Automatic compression of resources ==

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/plain text/xml text/css application/xml application/xhtml+xml application/rss+xml application/javascript application/x-javascript
</IfModule>
<IfModule mod_gzip.c>
	mod_gzip_on Yes
	mod_gzip_dechunk Yes
	mod_gzip_keep_workfiles No
	mod_gzip_can_negotiate Yes
	mod_gzip_add_header_count Yes
	mod_gzip_send_vary Yes
	mod_gzip_min_http 1000
	mod_gzip_minimum_file_size 300
	mod_gzip_maximum_file_size 512000
	mod_gzip_maximum_inmem_size 60000
	mod_gzip_handle_methods GET
	mod_gzip_item_include file \.(html?|txt|css|js|php|pl|xml|rb|py)$
	mod_gzip_item_include mime ^text/plain$
	mod_gzip_item_include mime ^text/xml$
	mod_gzip_item_include mime ^text/css$
	mod_gzip_item_include mime ^application/xml$
	mod_gzip_item_include mime ^application/xhtml+xml$
	mod_gzip_item_include mime ^application/rss+xml$
	mod_gzip_item_include mime ^application/javascript$
	mod_gzip_item_include mime ^application/x-javascript$
	mod_gzip_item_exclude rspheader ^Content-Encoding:.*gzip.*
	mod_gzip_item_include handler ^cgi-script$
	mod_gzip_item_include handler ^server-status$
	mod_gzip_item_include handler ^server-info$
	mod_gzip_item_include handler ^application/x-httpd-php
	mod_gzip_item_exclude mime ^image/.*
</IfModule>
###########################################

##################### Security Header #####################
<IfModule mod_headers.c>
	# X-XSS-Protection
	Header always set X-XSS-Protection "1; mode=block"
	# X-Frame-Options
	Header always set X-Frame-Options DENY
	# X-Content-Type nosniff
	Header always set X-Content-Type-Options nosniff
	# Referrer-Policy
	Header always set Referrer-Policy "no-referrer-when-downgrade"
	# Strict-Transport-Security
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
	# Content-Security-Policy-Report-Only 
	Header always set Content-Security-Policy "default-src 'self'; frame-ancestors 'none'; report-uri https://joomla.report-uri.com/r/t/csp/enforce"
</IfModule>
##################### Security Header

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
