<div class="social">
	<ul class="soc">
		<li><a href="https://twitter.com/joomla" target="_blank" rel="noopener" title="Joomla! on Twitter"><i class="fab fa-twitter-square"></i><span class="element-invisible">Joomla! on Twitter</span></a></li>
		<li><a href="https://www.facebook.com/joomla" target="_blank" rel="noopener" title="Joomla! on Facebook"><i class="fab fa-facebook-square"></i><span class="element-invisible">Joomla! on Facebook</span></a></li>
		<li><a href="https://www.youtube.com/user/joomla" target="_blank" rel="noopener" title="Joomla! on YouTube"><i class="fab fa-youtube-square"></i><span class="element-invisible">Joomla! on YouTube</span></a></li>
		<li><a href="https://www.linkedin.com/company/joomla" target="_blank" rel="noopener" title="Joomla! on LinkedIn"><i class="fab fa-linkedin"></i><span class="element-invisible">Joomla! on LinkedIn</span></a></li>
		<li><a href="https://www.pinterest.com/joomla" target="_blank" rel="noopener" title="Joomla! on Pinterest"><i class="fab fa-pinterest-square"></i><span class="element-invisible">Joomla! on Pinterest</span></a></li>
		<li><a href="https://www.instagram.com/joomlaofficial/" target="_blank" rel="noopener" title="Joomla! on Instagram"><i class="fab fa-instagram-square"></i><span class="element-invisible">Joomla! on Instagram</span></a></li>
		<li><a href="https://github.com/joomla" target="_blank" rel="noopener" title="Joomla! on GitHub"><i class="fab fa-github-square"></i><span class="element-invisible">Joomla! on GitHub</span></a></li>
	</ul>
</div>

<div class="footer-menu">
	<ul class="nav-inline">
		<li><a href="https://www.joomla.org"><span>Home</span></a></li>
		<li><a href="https://www.joomla.org/about-joomla.html"><span>About</span></a></li>
		<li><a href="https://community.joomla.org"><span>Community</span></a></li>
		<li><a href="https://forum.joomla.org"><span>Forum</span></a></li>
		<li><a href="https://extensions.joomla.org"><span>Extensions</span></a></li>
		<li><a href="https://community.joomla.org/service-providers-directory.html"><span>Services</span></a></li>
		<li><a href="https://docs.joomla.org"><span>Docs</span></a></li>
		<li><a href="https://developer.joomla.org"><span>Developer</span></a></li>
		<li><a href="https://community.joomla.org/the-joomla-shop.html"><span>Shop</span></a></li>
	</ul>

	<ul class="nav-inline">
		<li><a href="https://www.joomla.org/accessibility-statement.html">Accessibility Statement</a></li>
		<li><a href="https://www.joomla.org/privacy-policy.html">Privacy Policy</a></li>
		<li><a href="https://www.joomla.org/cookie-policy.html">Cookie Policy</a></li>
		<li><a href="https://community.joomla.org/sponsorship-campaigns.html">Sponsor Joomla! with $5</a></li>
		<li><a href="https://joomla.crowdin.com" target="_blank" rel="noopener">Help Translate</a></li>
		<li><a href="%reportroute%">Report an Issue</a></li>
	</ul>

	<p class="copyright">&copy; 2005 - %currentyear% <a href="https://opensourcematters.org">Open Source Matters, Inc.</a> All Rights Reserved.</p>

	<div class="hosting">
		<div class="hosting-image"><a href="https://www.rochen.com/joomla-hosting" rel="noopener" target="_blank"><img class="rochen" width="84" height="42" src="https://cdn.joomla.org/rochen/rochen_footer_logo_white.png" alt="Rochen" /></a></div>
		<div class="hosting-text"><a href="https://www.rochen.com/joomla-hosting" rel="noopener" target="_blank"><span dir="ltr">Joomla!</span> Hosting by Rochen</a></div>
	</div>
</div>
